@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* button hover effect */
.btn41-43 {
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border-radius: 8px;
}
.btn-43 {
  z-index: 1;
  overflow: hidden;
}
.btn-43:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgb(235, 235, 235);
  transition: all 0.3s ease;
}
.btn-43:hover {
  color: rgb(0, 0, 0);
}
.btn-43:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}

.link{
  color: inherit;
}
.img-default {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.MuiDataGrid-cell:focus,
.MuiDataGrid-cell:focus-within {
  outline: none !important;
}

/* Order cart table */
.shopping-cart-table {
  width: 100%;
  border-collapse: collapse;
}

.shopping-cart-table th,
.shopping-cart-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}

.shopping-cart-table th {
  background-color: #f2f2f2;
}

.shopping-cart-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.shopping-cart-table tbody tr:hover {
  background-color: #dddddd;
}


